language: node_js
sudo: false
node_js:
  - '0.10'
  - '0.12'
  - '4'
  - '5'
before_install:
  - "mkdir -p ~/.npm"
install:
  - npm install
  - npm install git://github.com/hybridgroup/cylon.git
  - npm install -g istanbul codeclimate-test-reporter
script:
  - make ci
  - CODECLIMATE_REPO_TOKEN=20f781a2ffc78f98efe7f894b491f648e9b28f33d7cedc1cc22a24f58a844032 codeclimate-test-reporter < coverage/lcov.info
